<h2>Thêm Story</h2>
<form [formGroup]="addForm" (ngSubmit)="submitForm()">
  <input placeholder="Title" formControlName="title" />
  <input placeholder="Author" formControlName="author" />
  <input type="number" placeholder="Views" formControlName="views" />

  <button type="submit">Add Story</button>
</form>

<hr />

<h2>Thêm Product</h2>
<form [formGroup]="productForm" (ngSubmit)="submitProduct()">
  <input placeholder="Name" formControlName="name" />
  <input type="number" placeholder="Price" formControlName="price" />

  <button type="submit">Add Product</button>
</form>

<hr />

<h2>Danh sách Story</h2>

<div *ngIf="loading">Loading...</div>
<div *ngIf="error">{{ error }}</div>
<div *ngIf="success">{{ success }}</div>

<ul>
  <li *ngFor="let s of stories">
    {{ s.title }} - {{ s.author }} - {{ s.views }} views
  </li>
</ul>